<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profil</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card-content>
    type de vehicule : Bus <br>
    Matricule : AA216DK <br>
    Conducteur : Babacar Ngom <br>
    Gare : Petersen <br>
    Depart : 08H <br>
    Arrivée : 13H
  </ion-card-content>
</ion-content>
