
<ion-content [fullscreen]="true">
  

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="reservation">
        <ion-icon name="play-circle"></ion-icon>
        Mes Voyages
      </ion-tab-button>
      <ion-tab-button tab="reserver">
        <ion-icon name="radio"></ion-icon>
        Reserver
      </ion-tab-button>
      <ion-tab-button tab="profil">
        <ion-icon name="library"></ion-icon>
        Profil
      </ion-tab-button>
      
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
