<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reserver</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">reserver</ion-title>


    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Trajet</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-input
        type="text"
        fill="solid"
        label="Depart"
        labelPlacement="floating"
        helperText="Entrer une ville de depart"
        errorText="Invalid "
        ngModel
        
      ></ion-input>

      <ion-input
        type="text"
        fill="solid"
        label="Destination"
        labelPlacement="floating"
        helperText="Entrer une ville de destination"
        errorText="Invalid "
        ngModel
        
      ></ion-input>

      <ion-button expand="block" (click)="rechercherVehiculle()">Chercher</ion-button>

    </ion-card-content>
  </ion-card>

  
</ion-content>
